html {
  padding-top: 7.5%;
  padding-left: 7.5%;
  background-color: #ecf0f1;
}

h1, h2, h3, h4, p {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 50%;
}

h2, h3 {
  opacity: 0.5;
}

h3 {
  font-size: 0.75em;
  opacity: 0.5;
  text-transform: uppercase;
}

p {
  font-variant: small-caps;
}

li {
  font-family: "Roboto", sans-serif;
}

ul li:before {
  content: "\2023    ";
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  text-decoration: none;
  color: #34495e;
}

a:hover {
  text-decoration: none;
  color: #2980b9;
  
}

a:active {
  text-decoration: none;
}
