img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  float: left;
  padding: 5px;
}

h1 {
  font: 24px Futura, Sans-Serif; 
}

p, h2, h3, ul {
  font: 16px Roboto, Sans-Serif;
}

.profile {
  width: 100em;
  height: 10em;
}
