h1 {
  font: 24px Futura, Sans-Serif; 
}

p, h2, h3, ul {
  font: 16px Roboto, Sans-Serif;
}

.profile {
  width: 50em;
  height: 10em;
  border-radius: 5px;
  margin: auto;
}

.profile:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  transition: box-shadow 1s ease-in-out;
}

.photo {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.linkedin, .github {
  width: 2em;
  height: 2em;
  margin: 5px;
  opacity: 0.5;
}

.social {
  float: right;
}
